services:
    BrockhausAg\ContaoRecruiteeBundle\Controller\LoadJobsController:
        arguments:
            - '@twig'
            - '@logger'
        public: true
        calls:
            - [ setContainer, [ '@Psr\Container\ContainerInterface' ] ]

    BrockhausAg\ContaoRecruiteeBundle\Controller\ReloadJobsController:
        arguments:
            - '@twig'
            - '@logger'
        public: true
        calls:
            - [ setContainer, [ '@Psr\Container\ContainerInterface' ] ]

    BrockhausAg\ContaoRecruiteeBundle\EventListener\AddCandidatesListener:
        arguments:
            - '@logger'
        public: true
        tags:
            - { name: contao.hook, hook: addCandidate, method: onAddCandidate }
