services:
    BrockhausAg\ContaoRecruiteeBundle\Controller\LoadJobsController:
        arguments:
            - '@twig'
            - '@logger'
            - '%kernel.project_dir%'
        public: true
        calls:
            - [ setContainer, [ '@Psr\Container\ContainerInterface' ] ]

    BrockhausAg\ContaoRecruiteeBundle\Controller\AddCandidateController:
        arguments:
            - '@logger'
            - '%kernel.project_dir%'
        public: true
        calls:
            - [ setContainer, [ '@Psr\Container\ContainerInterface' ] ]

    BrockhausAg\ContaoRecruiteeBundle\Controller\LoadJsonJobsController:
        arguments:
            - '@logger'
            - '%kernel.project_dir%'
        public: true
        calls:
            - [ setContainer, [ '@Psr\Container\ContainerInterface' ] ]

    BrockhausAg\ContaoRecruiteeBundle\Controller\ReloadJobsController:
        arguments:
            - '@twig'
            - '@logger'
            - '%kernel.project_dir%'
        public: true
        calls:
            - [ setContainer, [ '@Psr\Container\ContainerInterface' ] ]

    BrockhausAg\ContaoRecruiteeBundle\EventListener\AddCandidatesListener:
        arguments:
            - '@logger'
            - '%kernel.project_dir%'
        public: true
        tags:
            - { name: contao.hook, hook: addCandidate, method: onAddCandidate }

    BrockhausAg\ContaoRecruiteeBundle\Controller\FrontendModule\SendApplicationController:
        tags:
            - name: contao.frontend_module
              category: miscellaneous
              method: getResponse
              template: templates/contact-form.php

