{% block body %}
    <h1>Jobs wurden geladen</h1>
    <p>
        Jobs: <br/>

        {%  for location in jobs %}
            {%  for job in location %}
                Id: {{ job["id"] }}, Stellenname: {{ job["stellenname"] }} <br/>
            {%  endfor %}
        {% endfor %}
    </p>
{% endblock %}
